<h3>Add More Friends</h3>
<%= form_tag(friendships_path, method: "post") do %>
  <%= collection_check_boxes(:user, :friend_ids, @nonfriends, :id, :username_with_full_name)%>
  <%= submit_tag("Add Friends")%>
<%end%>
