<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1436076879760-817e51341b15?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);">
  <div class="container d-flex">
    <div class="card">
    <h1>My Friends</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">Name</th>
          <th scope="col" class="text-center">Add as Friend!</th>
        </tr>
      </thead>
      <tbody>
        <% @friendships.each do |friend| %>
        <tr>
          <td class="text-center"><%= friend.first_name.capitalize %><%= friend.last_name.capitalize %></td>
          <td class="text-center"><%= link_to "Delete", user_friendship_path(friend), method: 'delete' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
